.ct-series-a .ct-bar {
    -webkit-transition: all;
    transition: all;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -webkit-transition-duration: 100ms;
    transition-duration: 100ms;
    stroke: rgba(29, 104, 134, 1);
    stroke-width: 4em;
}

.ct-series-a .ct-bar:hover {
    stroke: rgba(29, 104, 134, 0.7);
}

.ct-series-b .ct-bar {
    -webkit-transition: all;
    transition: all;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -webkit-transition-duration: 100ms;
    transition-duration: 100ms;
    stroke: rgba(255, 152, 0, 1);
    stroke-width: 4em;
}

.ct-series-b .ct-bar:hover {
    stroke: rgba(255, 152, 0, 0.7);
}

.ct-labels .ct-label {
    color: rgba(33, 33, 33, 0.5);
    font-size: .8em;
}

#tooltip {
    position: absolute;
    z-index: 20;
    display: none;
    margin-left: .5em;
    padding: .5em .5em;
    -webkit-border-radius: .5em;
    border-radius: .5em;
    background: #212121;
    color: #fff;
}

#tooltip span.text {
    font-size: .9em;
}

#tooltip span.color,
#legend span {
    display: block;
    float: left;
    margin-right: .3em;
    width: 1.1em;
    height: 1.1em;
    background: #B6B6B6;
}

#legend ul {
    padding-left: none;
    list-style: none;
}

#legend span {
    margin-right: .8em;
}