.ct-series-a .ct-bar {
    -webkit-transition: all;
    -moz-transition: all;
    transition: all;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -webkit-transition-duration: 100ms;
    -moz-transition-duration: 100ms;
    transition-duration: 100ms;
    stroke: rgba(29, 104, 134, 1);
    stroke-width: 10%;
}

.ct-series-a .ct-line {
    stroke: rgba(29, 104, 134, 1);
    stroke-width: 6px;
}

.ct-series-a .ct-bar:hover {
    stroke: rgb(41, 147, 188);
}

.ct-series-b .ct-bar {
    -webkit-transition: all;
    -moz-transition: all;
    transition: all;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -webkit-transition-duration: 100ms;
    -moz-transition-duration: 100ms;
    transition-duration: 100ms;
    stroke: rgba(255, 152, 0, 1);
    stroke-width: 10%;
}

.ct-series-b .ct-line {
    stroke: rgba(255, 152, 0, 1);
    stroke-width: 2px;
}

.ct-series-b .ct-bar:hover {
    stroke: rgb(255, 184, 77);
}

.ct-labels .ct-label {
    color: rgba(33, 33, 33, 0.5);
    font-size: .8em;
}

.tooltip {
    position: absolute;
    z-index: 20;
    display: none;
    margin-left: 1.5em;
    padding: .5em .5em;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    background: #212121;
    color: #fff;
}

.tooltip span.text {
    font-size: .9em;
}

.tooltip span.color,
.legend span {
    display: block;
    float: left;
    margin-right: .3em;
    width: 1.1em;
    height: 1.1em;
    background: #B6B6B6;
}


/* Legend **************************************************************/

.legend {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    clear: left;
    width: 100%;
    border: 1px solid #B6B6B6;
}

.legend li {
    padding: .5em 0em;
}

.legend ul {
    list-style: none;
    text-indent: 0;
    padding: 0em .5em;
    margin: 0;
}

.legend span {
    margin-right: .8em;
}