/* Design colors:
Orange: #ff9800 255,152,0 
Blau: #1D6886 29,104,134 #1ABC9C

.dark-primary-color    { background: #175169; }
.default-primary-color { background: #1D6886; }
.light-primary-color   { background: #acdaec; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FF9800; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }
*/


/* Default elements *****************************************************************/

html,
body {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    background: #ffffff;
    color: #212121;
    font-weight: 400;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

p,
ol,
ul {
    margin-top: 0;
    text-align: justify;
}

p {
    line-height: 190%;
}

#page a {
    color: #1D6886;
    text-decoration: none;
    font-weight: bold;
    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    transition: all 100ms linear;
}

#page a:hover {
    color: #1ABC9C;
}

a img {
    border: none;
}

hr {
    float: left;
    clear: both;
    display: block;
    width: 100%;
    color: #212121;
    background-color: #B6B6B6;
    border: .5px solid #B6B6B6;
    height: 0px;
    opacity: .4;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1.5em 0em;
}


/* General classes for special properties *************************************/

.shadow {
    -webkit-box-shadow: 0 .5em 1.2em 0 rgba(33, 33, 33, 0.5);
    -moz-box-shadow: 0 .5em 1.2em 0 rgba(33, 33, 33, 0.5);
    box-shadow: 0 .5em 1.2em 0 rgba(33, 33, 33, 0.5);
}

.center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -moz-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -moz-box-pack: center;
    justify-content: center;
}

.clearfix:after {
    content: " ";
    /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}


/* Titles *****************************************************************/

.title {
    margin-bottom: 1.1em;
    width: 100%;
    text-transform: uppercase;
    text-align: left;
    float: left;
    clear: both;
}

h3.title {
    margin-bottom: .5em;
}

h2.title {
    color: #16a085;
    font-weight: 500;
    font-size: 1.5em;
    margin-top: 1.5em;
}

.byline {
    color: #6F6F6F;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-weight: 400;
    font-size: 0.90em;
    display: block;
    width: 100%;
    float: left;
    clear: both;
}


/* Slider Menu ******************************************************************/

#footer ul {
    margin: 0;
    padding: 0 0 0 0;
    list-style: none;
    text-align: center;
    line-height: normal;
}


/* Page ********************************************************************/

#page {
    position: relative;
    display: block;
    overflow: hidden;
    margin: auto;
    padding: 6vw 0em 0em 0em;
    max-width: 1600px;
    min-width: 340px;
}

@media only screen and (min-width: 1400px) {
    #page {
        padding-top: 84px;
    }
}

.content {
    padding: 2.5em;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: justify;
    float: left;
    clear: both;
}

@media only screen and (max-width: 50em) {
    .content {
        padding: 1em;
    }
}

.content div {
    float: left;
}


/* Button *******************************************************************/

.button {
    position: relative;
    left: 0;
    bottom: 0;
    display: inline-block;
    margin-bottom: 1.5em;
    padding: 1em 3em 1em 3em;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    background: #1D6886;
    color: #FFF !important;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1em;
    cursor: pointer;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    transition: all 200ms linear;
}

.button:hover {
    background: #16a085;
}


/* Parallax *****************************************************************/

.aspect {
    position: relative;
}

.aspect:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 33.33%;
}

.aspect > .content {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.parallax div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.parallax {
    position: relative;
    width: 100%;
    height: auto;
}

div.parallax .foreground {
    z-index: 2;
    background: rgba(33, 33, 33, 0.5);
    text-align: center;
}

div.parallax div.background {
    overflow: hidden;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.foreground h1 {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2.5em;
    opacity: 0.9;
}

@media only screen and (max-width: 30em) {
    .foreground h1 {
        font-size: 1.5em;
    }
}

.background img {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: auto;
}


/* Topics *******************************************************************/

.topic {
    z-index: 0;
    float: left;
    clear: both;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

.topic:after {
    content: "";
    display: block;
    clear: both;
}


/* cards *********************************************************************/

.card {
    display: block;
    width: 50%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    clear: none;
    overflow: hidden;
    padding-right: 2.5em;
    padding-bottom: 2em;
}

.card_wrapper {
    padding: 1em 0em 1em;
    display: table;
}

.card:nth-child(odd) {
    clear: both;
}

@media only screen and (max-width: 50em) {
    .card {
        clear: both;
        width: 100%;
    }
}

@media only screen and (max-width: 25em) {
    .card {
        padding: .3em;
    }
}


/* footer *******************************************************************/

#footer {
    z-index: 5;
    height: 3em;
    font-size: 1em;
    width: 100%;
    background: #1D6886;
    padding: 0;
    margin: 0;
    float: left;
    clear: both;
}

#footer a {
    font-size: 1em;
    display: block;
    color: #fff;
    text-decoration: none;
    line-height: 3;
    padding: 0em 1em;
}

#footer li {
    display: inline-block;
    width: auto;
    height: 100%;
}

#footer ul {
    height: 100%;
}

#footer a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 27em) {
    #footer li {
        float: left;
        clear: both;
        height: 3em;
    }
    #footer {
        height: auto;
    }
}


/* features *****************************************************************/

.feature {
    display: block;
    float: left;
    clear: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 1.5em 0em 1.5em 0em;
}

.feature .title {
    display: inline-block;
    float: left;
    width: auto;
    clear: none;
    text-indent: 1em;
    padding-top: .5em;
    padding-bottom: 1.5em;
    margin-bottom: 0;
}

.feature img {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 40%;
    clear: both;
}

.feature .text {
    float: left;
    clear: none;
    width: 60%;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.feature p {
    display: inline-block;
    float: left;
    clear: left;
    padding-right: 1em;
    padding-bottom: .5em;
    padding-left: 1em;
    text-align: justify;
    padding-top: 0;
}

@media only screen and (max-width: 50em) {
    .feature .text {
        clear: both;
        width: 100%;
        padding-left: 0;
    }
    .feature p {
        padding: 0em 0em .3em 0em;
    }
    .feature .title {
        text-indent: 0;
    }
    .feature img {
        width: 100%;
    }
    .feature {
        padding: 0em .5em;
    }
}


/* Table **************************************************************/

table {
    margin-bottom: 1.5em;
    border: none;
    border-spacing: 0;
    border-collapse: collapse;
    background-color: rgba(33, 33, 33, 0.05);
    /*
border-left: .1em solid #1D6886;
border-right: .1em solid #1D6886;
*/
}

td {
    border: none;
    padding: .3em .7em;
}

td:nth-child(1) {
    font-weight: 500;
}

tr:nth-child(even) {
    background-color: rgba(33, 33, 33, 0.1);
}


/* math span ***********************************************************/

.math {
    font-weight: bold;
    font-size: 1.1em;
    letter-spacing: .06em;
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
}


/* calculator ***************************************************/

#calculator_wrapper {
    display: block;
}

#calculator div {
    width: 50%;
    float: left;
    clear: none;
    margin-right: 1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1em;
}

#calculator h3 {
    border-bottom: 2px solid #1D6886;
    width: 100%;
    padding-top: .5em;
}

#calculator .button {
    border: none !important;
    font-size: 1em;
    padding: .7em 2em;
    margin-top: 1em;
}

#calculator p {
    margin-bottom: .4em;
    padding-right: .3em;
    text-align: left;
    line-height: 120%;
}

#result {
    display: none;
    font-size: 1.1em;
    padding: .5em 0;
}

#amount_year,
#amount_day {
    font-weight: bold;
}

#error {
    display: none;
    font-size: 1.1em;
    color: #ff9800;
    font-weight: bold;
    padding: .5em 0em;
}

#calculator hr:last-of-type {
    display: none;
}

.switch:after {
    content: "links";
}

@media only screen and (max-width: 42em) {
    #calculator div {
        width: 100%;
        margin-bottom: 1em;
    }
    .switch:after {
        content: 'oben';
    }
}


/* user expirience *****************************************************/

.ux div {
    width: 50%;
    height: auto;
    float: left;
    clear: none;
}

.ux img {
    width: 100%;
    float: left;
    padding-right: .5em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ux>p {
    padding: 0em .5em;
}

@media only screen and (max-width: 27em) {
    .ux div {
        width: 100%;
    }
    .ux {
        padding: .3em;
    }
    .ux img {
        padding: 0;
    }
}


/* Team members ********************************************************/

.teammember,
.teammember:nth-child(even),
.teammember:nth-child(odd) {
    width: 33.3%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    clear: none;
}

.teammember ul {
    list-style: none;
    text-indent: 0;
    padding-left: 0;
}

.teammember li {
    display: inline-block;
}

.teammember img {
    padding: 1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    clear: none;
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 50em) {
    .teammember img {
        width: 33%;
    }
    .teammember.card {
        width: 100%;
    }
    .teammember p {
        padding-top: .5em;
        width: 67%;
        float: left;
        clear: none;
    }
    .teammember ul {
        float: left;
        clear: none;
    }
}

@media only screen and (max-width: 30em) {
    .teammember img,
    .teammember p,
    .teammember ul {
        width: 100%;
        float: left;
        clear: both;
    }
}


/* chart ***************************************************************/

.chart {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 20em;
    float: left;
    clear: both;
    padding: 1em;
}

.chart_text,
.chart_wrapper {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    clear: none;
}

.chart_wrapper {
    border: 1px solid #B6B6B6;
}

.chart_text {
    padding-left: 1em;
}

.chart_wrapper .title {
    margin-bottom: 0;
    background: #B6B6B6;
    color: #fff;
    text-indent: .8em;
}

.chart_text p {
    float: left;
    clear: both;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#chart_text .button {
    float: left;
    clear: both;
}

@media only screen and (max-width: 50em) {
    .chart_wrapper,
    .chart_text {
        width: 100%;
        clear: both;
        padding: .7em 0em;
    }
}


/* home section ********************************************************/

#home {
    display: block;
    position: relative;
    width: 100%;
    min-height: 100vh;
    margin-bottom: -6vw;
    background: url('../images/banner_home.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top;
    -moz-background-clip: border-box;
    background-clip: border-box;
    -moz-background-size: cover;
    background-size: cover;
}

#home .content {
    position: relative;
    display: block;
    float: left;
    clear: both;
    width: 100%;
    height: 100%;
    min-height: 100%;
    text-align: center;
    color: #fff;
    padding: 0% 10%;
    z-index: 3;
}

#home #overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    background: rgba(33, 33, 33, 0.5);
}

#home .content:after,
#home:after {
    content: "";
    display: block;
    clear: both;
}

#home .center_horizontal {
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

#header_wrapper {
    float: left;
    clear: both;
    text-align: justify;
    display: inline-block;
    padding: 2em;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 3em;
}

#header_wrapper>div {
    width: 80vw;
    height: auto;
    float: left;
    clear: both;
    overflow: visible;
    vertical-align: center;
}

#header_wrapper h1 {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    clear: none;
    width: 55vw;
    height: 25vw;
    text-transform: uppercase;
    font-size: 5vw;
    line-height: 500%;
}

#header_wrapper h2 {
    float: left;
    clear: left;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 1em;
    color: #fff;
    font-size: 2.5vw;
}

#logo {
    float: none;
    width: 100%;
    height: 100%;
}

#logo_wrapper {
    display: block;
    float: left;
    clear: none;
    width: 25vw;
    height: 25vw;
    height: auto;
}

#home .button {
    float: left;
    clear: both;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    font-size: 1.5vw;
    margin-bottom: 1.4em;
}

#home #more {
    color: #fff;
    float: left;
    clear: both;
    font-size: 1.5vw;
    width: 100%;
    text-decoration: underline;
    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    transition: all 100ms linear;
    margin-bottom: 3em;
}

#home #more:hover {
    color: #1ABC9C;
}

#explanation {
    width: 100%;
    font-size: 1.5vw;
    color: #fff;
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
    margin-bottom: 0;
    float: left;
    clear: both;
    margin-bottom: 3em;
}

@media only screen and (min-width: 1400px) {
    #home {
        margin-bottom: -84px;
    }
}

@media only screen and (min-width: 1600px) {
    #logo_wrapper {
        height: 400px;
        width: 400px;
    }
    #header_wrapper h1 {
        height: 400px;
        width: 880px;
        font-size: 80px;
    }
    #header_wrapper h2 {
        font-size: 40px;
    }
    #header_wrapper>div {
        width: 1280px;
    }
    #explanation,
    #home .button,
    #home #more {
        font-size: 24px;
    }
}

@media only screen and (max-width: 740px) {
    #header_wrapper {
        margin: 1em 0;
    }
    #logo_wrapper {
        height: 5em;
        width: 5em;
    }
    #header_wrapper h1 {
        display: block;
        height: 2.5em;
        width: auto;
        font-size: 2em;
        line-height: 2.5;
        margin-left: 1em;
        text-overflow: ellipsis;
    }
    #header_wrapper h2 {
        margin: .5em 0em;
        font-size: 1.2em;
    }
    #header_wrapper>div {
        width: auto;
        height: auto;
        position: relative;
        left: 50%;
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        margin-bottom: 1em;
    }
    #explanation,
    #home .button,
    #home #more {
        font-size: 1em;
    }
}

@media only screen and (max-width: 500px) {
    #home .content {
        padding: 0 5%;
    }
}

#chippick {
    float: left; 
    clear: left;
    width: 33%;
    height: auto;
    cursor: pointer;
    margin-bottom: 2em;
}