/* Design colors:
Orange: #ff9800 255,152,0 
Blau: #1D6886 29,104,134 #1ABC9C

.dark-primary-color    { background: #175169; }
.default-primary-color { background: #1D6886; }
.light-primary-color   { background: #acdaec; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FF9800; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }
*/


/* Default elements *****************************************************************/

html,
body {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    background: #ffffff;
    color: #212121;
    font-weight: 400;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

p,
ol,
ul {
    margin-top: 0;
    text-align: justify;
}

p {
    line-height: 190%;
}

#page a {
    color: #1D6886;
    text-decoration: none;
    font-weight: bold;
    -webkit-transition: all 100ms linear;
    transition: all 100ms linear;
}

#page a:hover {
    color: #1ABC9C;
}

a img {
    border: none;
}

hr {
    display: block;
    width: 100%;
    color: #212121;
    background-color: #B6B6B6;
    border: .5px solid #B6B6B6;
    height: 0px;
    opacity: .4;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/* General classes for special properties *************************************/

.shadow {
    -webkit-box-shadow: 0 .5em 1.2em 0 rgba(33, 33, 33, 0.5);
    box-shadow: 0 .5em 1.2em 0 rgba(33, 33, 33, 0.5);
}

.shadow_inset {
    -webkit-box-shadow: inset 0 .5em 1.2em 0 rgba(33, 33, 33, 0.5);
    box-shadow: inset 0 .5em 1.2em 0 rgba(33, 33, 33, 0.5);
}

.center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}


/* Lists ******************************************************************/

ul.style1 {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.style1 li {
    border-top: solid 1px #E5E5E5;
}

ul.style1 li:first-child {
    padding-top: 0;
    border-top: 0;
}

ul.style2 {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.style2 li {
    padding: 0.80em 0;
    border-top: solid 1px #E5E5E5;
}

ul.style2 li:first-child {
    padding-top: 0;
    border-top: 0;
}


/* Titles *****************************************************************/

.title {
    margin-bottom: 1.1em;
    width: 100%;
    text-transform: uppercase;
    text-align: left;
}

h3.title {
    margin-bottom: .5em;
}

h2.title {
    color: #16a085;
    font-weight: 500;
    font-size: 1.5em;
    margin-top: 1.5em;
}

.byline {
    color: #6F6F6F;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-weight: 400;
    font-size: 0.90em;
}


/* Slider Menu ******************************************************************/

#menu-wrapper {
    position: fixed;
    z-index: 10;
    width: 100%;
    background: rgb(29, 104, 134);
}

#menu {
    overflow: hidden;
    width: auto;
    height: 5em;
    background: inherit;
}

#menu ul,
#footer ul {
    margin: 0;
    padding: 0 0 0 0;
    list-style: none;
    text-align: center;
    line-height: normal;
}

#menu li {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
}

#menu .nav_item {
    display: inline-block;
    padding-right: 1em;
    padding-left: 1em;
    min-width: 6.5em;
    border: none;
    color: #212121;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: normal;
    font-weight: 500;
    font-size: 1em;
    line-height: 5em;
    cursor: pointer;
    -webkit-transition: all 250ms linear;
    transition: all 250ms linear;
}

#menu .nav_item:hover,
#menu .current_page_item.nav_item {
    color: #FFF;
    text-decoration: none;
}

#menu .current_page_item.nav_item {
    font-weight: bolder;
    font-size: 1em;
}

#menu .slider {
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: 12;
    display: inline;
    width: 100px;
    height: .25em;
    background: #FF9800;
}

@media only screen and (max-width: 50em) {
    #menu {
        height: 3.5em;
    }
    #menu .nav_item {
        font-size: .8em;
        line-height: 4.375em;
        min-width: 6em;
        padding: 0em .2em;
    }
    #menu .current_page_item.nav_item {
        font-size: 0.8em;
    }
}


/* Github icon *************************************************************/

#icon_github {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 11;
    display: block;
    width: 5em;
    height: 5em;
    vertical-align: center;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

a#icon_github>img {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0.7em;
    width: 100%;
    height: 100%;
}

#icon_github:hover {
    background: #1ABC9C;
}

a#icon_github>p {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: auto;
    color: #fff;
    vertical-align: center;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1em;
    line-height: 2.375;
}

a#icon_github:hover>img {
    display: none;
}

a#icon_github:hover>p {
    display: block;
}

@media only screen and (max-width: 50em) {
    #icon_github {
        width: 3.5em;
        height: 3.5em;
    }
    a#icon_github>p {
        font-size: .5em;
        line-height: 3.25;
    }
}


/* Dropdwown menu **********************************************************/

#dropdown_menu_wrapper {
    display: none;
    width: 100%;
    position: fixed;
    z-index: 10;
    background: #1D6886;
    top: 0;
    left: 0;
    height: 2.5em;
}


/* Page ********************************************************************/

#page {
    position: relative;
    display: block;
    overflow: hidden;
    margin: auto;
    padding: 5em 0em 0em 0em;
    max-width: 1600px;
    min-width: 300px;
}

.content {
    padding: 2.5em;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: justify;
    float: left;
    clear: both;
}

.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    float: left;
    margin-left: -1em;
    margin-right: -1em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}


/* Button *******************************************************************/

.button {
    position: relative;
    left: 0;
    bottom: 0;
    display: inline-block;
    margin-bottom: 1.5em;
    padding: 1em 3em 1em 3em;
    -webkit-border-radius: .5em;
    border-radius: .5em;
    background: #1D6886;
    color: #FFF !important;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1em;
    cursor: pointer;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.button:nth-child(odd) {
    clear: both;
}

.button:before {
    display: inline-block;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    color: #FFF;
    text-align: center;
    line-height: 40px;
}

.button:hover {
    background: #16a085;
}


/* Parallax *****************************************************************/

.aspect {
    position: relative;
}

.aspect:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 33.33%;
}

.aspect > .content {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.parallax div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.parallax {
    position: relative;
    width: 100%;
    height: auto;
}

div.parallax .foreground {
    z-index: 2;
    background: rgba(33, 33, 33, 0.5);
    text-align: center;
}

div.parallax div.background {
    overflow: hidden;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.foreground h1 {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2.5em;
    opacity: 0.9;
}

@media only screen and (max-width: 30em) {
    .foreground h1 {
        font-size: 1.5em;
    }
}

.background img {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: auto;
}


/* Topics *******************************************************************/

.topic {
    z-index: 0;
    float: left;
    clear: both;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

div.topic div.content > * {
    float: left;
    clear: both;
    text-align: justify;
}


/* Page header **************************************************************/

#header_wrapper {
    display: inline-block;
    padding: 2em;
    width: auto;
    height: auto;
    position: relative;
    overflow: hidden;
    text-align: center;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#header_wrapper h1 {
    float: left;
    clear: none;
}

#header_wrapper h2 {
    float: left;
    clear: left;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    color: white;
}

#logo {
    float: none;
    width: 100%;
    height: 100%;
}

#logo_wrapper {
    position: relative;
    display: inline-block;
    float: left;
    clear: none;
    width: 10em;
    height: 10em;
}

#page_title {
    display: block;
    float: left;
    clear: none;
    text-transform: uppercase;
    font-size: 3em;
    line-height: 4em;
    margin-left: 1em;
}

@media only screen and (max-width: 42em) {
    #header_wrapper {
        padding: 1em;
    }
    #header_wrapper h2 {
        font-size: 1.5em;
    }
    #logo_wrapper {
        width: 7.5em;
        height: 7.5em;
    }
    #page_title {
        font-size: 2em;
        line-height: 3.75em;
    }
}

@media only screen and (max-width: 30em) {
    #header_wrapper h2 {
        font-size: 1em;
    }
    #logo_wrapper {
        width: 5em;
        height: 5em;
    }
    #page_title {
        font-size: 1.5em;
        line-height: 3.333em;
    }
}


/* cards *********************************************************************/

.card {
    display: table-cell;
    width: 50%;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    clear: none;
    overflow: hidden;
    padding-right: 2.5em;
    padding-bottom: 2em;
}

.card_wrapper {
    padding: 1em 0em 1em;
    display: table;
}

.card:nth-child(odd) {
    clear: both;
}

@media only screen and (max-width: 50em) {
    .card {
        clear: both;
        width: 100%;
    }
}

@media only screen and (max-width: 25em) {
    .card {
        padding: .3em;
    }
}


/* footer *******************************************************************/

#footer {
    z-index: 5;
    height: 3em;
    font-size: 1em;
    width: 100%;
    background: #1D6886;
    padding: 0;
    margin: 0;
    float: left;
    clear: both;
}

#footer a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 1em;
}

#footer li {
    display: inline-block;
    width: auto;
    height: 100%;
}

#footer ul {
    height: 100%;
}

#footer a:hover {
    text-decoration: underline;
}


/* features *****************************************************************/

.feature {
    display: block;
    float: left;
    clear: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin: 1.5em 0em 1.5em 0em;
    padding: 0em;
}

.feature .title {
    display: inline-block;
    float: left;
    width: auto;
    clear: none;
    text-indent: 1em;
    padding-top: .5em;
    padding-bottom: 1.5em;
    margin-bottom: 0;
}

.feature img {
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 40%;
    clear: both;
}

.feature .text {
    float: left;
    clear: none;
    width: 60%;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.feature p {
    display: inline-block;
    float: left;
    clear: left;
    padding-right: 1em;
    padding-bottom: .5em;
    padding-left: 1em;
    text-align: justify;
    padding-top: 0;
}

@media only screen and (max-width: 50em) {
    .feature .text {
        clear: both;
        width: 100%;
    }
    .feature img {
        width: 100%;
    }
}


/* Table **************************************************************/

table {
    margin-bottom: 1.5em;
    border: none;
    border-spacing: 0;
    border-collapse: collapse;
    background-color: rgba(33, 33, 33, 0.05);
    /*
border-left: .1em solid #1D6886;
border-right: .1em solid #1D6886;
*/
}

td {
    border: none;
    padding: .3em .7em;
}

td:nth-child(1) {
    font-weight: 500;
}

tr:nth-child(even) {
    background-color: rgba(33, 33, 33, 0.1);
}


/* math span ***********************************************************/

.math {
    font-weight: bold;
    font-size: 1.1em;
    letter-spacing: .06em;
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
}

.math sub,
.math sup {
    font-style: italic;
}


/* calculator hidden ***************************************************/

#calculator_wrapper {
    display: block;
}

#calculator div {
    width: 50%;
    float: left;
    clear: none;
    margin-right: 1em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1em;
}

#calculator h3 {
    border-bottom: 2px solid #1D6886;
    width: 100%;
    padding-top: .5em;
}

#calculator .button {
    border: none !important;
    font-size: 1em;
    padding: .7em 2em;
    margin-top: 1em;
}

#calculator p {
    margin-bottom: .4em;
    padding-right: .3em;
    text-align: left;
    line-height: 120%;
}

#calculator p:nth-child(1) {
    margin-top: .7em;
}

#result {
    display: none;
    font-size: 1.1em;
    padding: .5em 0;
}

#amount_year,
#amount_day {
    font-weight: bold;
}

#error {
    display: none;
    font-size: 1.1em;
    color: #ff9800;
    font-weight: bold;
    padding: .5em 0em;
}

#calculator hr:last-of-type {
    display: none;
}


/* user expirience *****************************************************/

.ux {
    display: none;
}

.ux img {
    width: 50%;
    float: left;
    padding: .7em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/* Team members ********************************************************/

.teammember,
.teammember:nth-child(even),
.teammember:nth-child(odd) {
    width: 33.3%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    clear: none;
}

.teammember ul {
    list-style: none;
    text-indent: 0;
    padding-left: 0;
}

.teammember li {
    display: inline-block;
}

.teammember img {
    padding: 1em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    clear: none;
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 50em) {
    .teammember img {
        width: 33%;
    }
    .teammember.card {
        width: 100%;
    }
    .teammember p {
        padding-top: .5em;
        width: 67%;
        float: left;
        clear: none;
    }
    .teammember ul {
        float: left;
        clear: none;
    }
}

@media only screen and (max-width: 30em) {
    .teammember img,
    .teammember p,
    .teammember ul {
        width: 100%;
        float: left;
        clear: both;
    }
}


/* chart ***************************************************************/

.chart {
    width: 50%;
    height: 20em;
    float: left;
    clear: both;
}

@media only screen and (max-width: 50em) {
    .chart {
        width: 100%;
    }
    #chart_wrapper p {
        width: 100%;
        float: left;
        clear: both;
    }
}


/* Legend **************************************************************/

.legend {
    padding-left: 0;
    list-style: none;
}

.legend li {
    padding: .3em 0em;
}

.legend span {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: .5em;
}

#legend {
    float: left;
    clear: left;
}