#noscript_wrapper {
    z-index: 15;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.5);
}

#noscript_wrapper>h1 {
    font-size: 2em;
    color: #1D6886;
    text-align: center;
}

#noscript_wrapper>p {
    font-size: 1.5em;
    text-align: center;
    padding: 2em 5em 2em 5em;
}

input[type="checkbox"] {
    display: none;
}

#button_ok {
    text-align: center;
    left: 50%;
    margin-right: -50%;
}
#center {
    display: block;
    width: 100%;text-align: center;
}
