/* Menu ******************************************************************/

#menu-wrapper {
    position: fixed;
    z-index: 10;
    width: 100%;
    background: rgb(29, 104, 134);
}

#menu {
    overflow: hidden;
    width: auto;
    height: 6vw;
    background: inherit;
}

#menu ul {
    margin: 0;
    padding: 0 0 0 0;
    list-style: none;
    text-align: center;
    line-height: normal;
    margin-right: 6vw;
}

#menu li {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
}

#menu .nav_item a {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    padding: 0vw 1vw;
    min-width: 10vw;
    color: #212121;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: normal;
    font-weight: 500;
    font-size: 1.5vw;
    line-height: 4;
    cursor: pointer;
    -webkit-transition: all 250ms linear;
    -moz-transition: all 250ms linear;
    transition: all 250ms linear;
}

#menu .nav_item:hover a,
#menu .current_page_item.nav_item a {
    color: #FFF;
    text-decoration: none;
}

#menu .current_page_item.nav_item a {
    font-weight: bolder;
}

#menu .slider {
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: 12;
    display: inline;
    width: 100px;
    height: .3vw;
    background: #FF9800;
}

@media only screen and (max-width: 1000px) {
    #menu .nav_item a {
        font-size: 2vw;
    }
    #menu {
        height: 8vw;
    }
    #menu .slider {
        height: .4vw;
    }
    #menu ul {
        margin-right: 8vw;
    }
}


/*@media only screen and (max-width: 50em) {
    #menu {
        height: 3.5em;
    }
    #menu .nav_item {
        font-size: .8em;
        line-height: 4.375em;
        min-width: 6em;
        padding: 0em .2em;
    }
    #menu .current_page_item.nav_item {
        font-size: 0.8em;
    }
}*/

.noscript_overlay {
    display: none;
}