/* Menu ******************************************************************/

#menu-wrapper {
    position: fixed;
    z-index: 10;
    width: 100%;
    background: rgb(29, 104, 134);
}

#menu {
    overflow: hidden;
    width: auto;
    height: 5em;
    background: inherit;
}

#menu ul,
#footer ul {
    margin: 0;
    padding: 0 0 0 0;
    list-style: none;
    text-align: center;
    line-height: normal;
}

#menu li {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
}

#menu .nav_item a {
    display: inline-block;
    padding-right: 1em;
    padding-left: 1em;
    min-width: 6.5em;
    border: none;
    color: #212121;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: normal;
    font-weight: 500;
    font-size: 1em;
    line-height: 5em;
    cursor: pointer;
    -webkit-transition: all 250ms linear;
    transition: all 250ms linear;
}

#menu .nav_item:hover a,
#menu .current_page_item.nav_item a {
    color: #FFF;
    text-decoration: none;
}

#menu .current_page_item.nav_item a {
    font-weight: bolder;
    font-size: 1em;
}

#menu .slider {
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: 12;
    display: inline;
    width: 100px;
    height: .25em;
    background: #FF9800;
}

.noscript_overlay {
    display: none;
}